<%= render "layouts/header" %>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="border">
        <%= simple_format @group.introduction %>
      </div>
      <div>
        <% if @group.group_member?(current_user)%>
        <%= link_to "チャット", group_messages_path(@group), class: "btn" %>
        　<%= link_to "退出", group_leave_path(@group.id), method: :delete, class: "btn" %>
        <% else %>
          <%= link_to "参加", group_join_path(@group.id), class: "btn" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-5">
      <%= render "users/index", users: @group.users%>
    </div>
  </div>
</div>