<% users.each do |user| %>
  <tr>
    <td>
      <%= attachment_image_tag user, :profile_image, fallback: "no-image.jpg", class: "profile_image_sm" %>
    </td>
    <td>
      <p><%= link_to user.name, user_path(user), class: "text-dark" %></p>
      <p  id ="profile-text-hidden"><%= user.profile %></p>
    </td>
    <td>
      <div id ="follow-btn_<%= user.id %>">
        <%= render "relationships/follow-btn", user: user %>
      </div>
    </td>
  </tr>
<% end %>