<div class="container">
  <div class="col-md-8 offset-md-2">
    <%= form_with model:@user, local:true do |f| %>
      <div class="form-group">
        <%= f.label :名前 %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :プロフィール %>
        <%= f.text_field :profile, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :プロフィール画像 %>
        <%= f.attachment_field :profile_image, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :推し写真 %>
        <%= f.attachment_field :fave_image, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :背景画像 %>
        <%= f.attachment_field :home_image, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "更新" %>
      </div>
    <% end %>
  </div>
</div>