<%= render "layouts/header" %>
<div class="main-container">
  <%= attachment_image_tag @user, :home_image, fallback: "no-image.jpg", class: "main-visual" %>
  <h1><%= @user.name %>のマイページ</h1>
  <%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", class: "profile_image" %>
  <% if @user == current_user %>
    <div class="mypage-nav-icons">
      <%= link_to followings_path(user_id: @user.id), class: "mypage-nav-icon" do %>
        <i class="far fa-user"></i>
        <p>Following</p>
      <% end %>
      <%= link_to followers_path(user_id: @user.id), class: "mypage-nav-icon" do %>
        <i class="fas fa-user"></i>
        <p>Follower</p>
      <% end %>
      <%= link_to user_bookmarks_path(@user.id), class: "mypage-nav-icon" do %>
        <i class="far fa-bookmark"></i>
        <p>Bookmark</p>
      <% end %>
      <dix class="mypage-nav-icon">
        <i class="fas fa-calendar-alt"></i>
        <p>Calender</p>
      </dix>
      <dix class="mypage-nav-icon">
        <i class="far fa-clone"></i>
        <p>Post</p>
      </dix>
      <%= link_to edit_user_path(@user), class: "mypage-nav-icon" do %>
        <i class="fas fa-cogs"></i>
        <p>Setting</p>
      <% end %>
    </div>
  <% else %>
    <div class="user-nav-icons">
      <div id="follow-btn_<%= @user.id %>">
        <%= render "relationships/follow-btn", user: @user %>
      </div>
    </div>
  <% end %>
</div>
