<%= render "layouts/header" %>
<div class="main-container">
  <%= attachment_image_tag @user, :home_image, fallback: "no-image.jpg", class: "main-visual" %>
  <% if @user == current_user %>
    <h1><%= @user.name %>のマイページ</h1>
    <%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", class: "profile_image" %>
    <%= attachment_image_tag @user, :fave_image, fallback: "no-image.jpg", class: "fave_image" %>
    <div class="date">出会ってから"date"</div>
    <div class="mypage-nav-icons">
      <dix class="mypage-nav-icon">
        <%= link_to "", followings_path(user_id: @user.id), class: "far fa-user" %>
        <p>Following</p>
      </dix>
      <dix class="mypage-nav-icon">
        <%= link_to "", followers_path(user_id: @user.id), class: "fas fa-user" %>
        <p>Follower</p>
      </dix>
      <dix class="mypage-nav-icon">
        <i class="far fa-bookmark"></i>
        <p>Bookmark</p>
      </dix>
      <dix class="mypage-nav-icon">
        <i class="fas fa-calendar-alt"></i>
        <p>Calender</p>
      </dix>
      <dix class="mypage-nav-icon">
        <i class="far fa-clone"></i>
        <p>Post</p>
      </dix>
      <dix class="mypage-nav-icon">
        <%= link_to "", edit_user_path(@user), class: "fas fa-cogs" %>
        <p>Setting</p>
      </dix>
    </div>
  <% else %>
    <%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", class: "other_profile_image" %>
    <h2><%= @user.name %>のマイページ</h2>
    <div id="follow-btn_<%= @user.id %>">
      <%= render "relationships/follow-btn", user: @user %>
    </div>
  <% end %>
</div>
