<%= render "layouts/header" %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 20rem;">
        <%= attachment_image_tag @post, :image, fallback: "no-image.jpg", class: "card-img-top" %>
        <div class="card-body">
          <div id="bookmark-btn_<%= @post.id %>">
            <%= render "bookmarks/bookmark-btn", post: @post %>
          </div>
          <p class="card-text">
            <%= @post.body %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
    <div class="overflow-auto p-3 bg-light" style="width: 100%; height:400px;">
      <table class="table">
        <tbody id="post-comment_<%= @post.id%>">
          <%= render "post_comments/comment", post_comments: @post_comments, post: @post %>
        </tbody>
      </table>
    </div>
      <%= form_with model:[@post, @post_comment] do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに", class: "form-control" %>
        </div>
        <div class="form-group text-right">
          <%= f.submit "送信" %>
        </div>
      <% end %>
    </div>
  </div>
</div>